.DS_Store
node_modules
dist/dev
dist/release/static/js/local.env.js
gokart/static
gokart/tmp
src/apps/*-profile.js
uwsgi.ini

*.log
*.sw*
*.pyc
.env
venv/

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3
